@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> _userManager

@using Graduation_Project2.Models
@using Graduation_Project2.Data
@inject Graduation2DbContext db

@using System.Linq;

@using Microsoft.AspNetCore.Http
<!-- Favicons -->
<link rel="icon" type="image/x-icon" href="~/favicon (2).ico">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<link href="~/Content/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="~/Content/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
<link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="~/Content/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="~/Content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="~/Content/assets/css/mystyle.css">
<link href="~/Content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="~/Content/assets/css/style.css" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/x-icon" href="~/favicon (2).ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
     
    <header id="header" class="">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="index.html">Bright Health</a></h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    @{
                        var isLoggedIn = !string.IsNullOrEmpty(ViewContext.HttpContext.Session.GetInt32("ID").ToString());
                        if (User.Identity.IsAuthenticated && isLoggedIn==true)
                        {

                            bool r = (from item in db.doctorAdmins
                                      where item.EmailAddress == User.Identity.Name
                                      select true).FirstOrDefault();
                            var rt = (from item in db.doctorAdmins
                                      where item.EmailAddress == User.Identity.Name
                                      select item).FirstOrDefault();
                            if (r == true)
                            { //@if(ViewContext.HttpContext.Session.GetString("IsFirst")==""){}

                                <li><a class="nav-link scrollto active"asp-controller="DoctorAdmin" asp-action="HomePage">Home</a></li>
                                <li><a class="nav-link scrollto" asp-controller="DoctorAdmin" asp-action="SetDoctor">Set Your Informations</a></li>
                                <li><a class="nav-link scrollto" asp-controller="DoctorAdmin" asp-action="MyGuides">Medical Center Guides</a></li>
                                <li><a class="nav-link scrollto" asp-controller="DoctorAdmin" asp-action="DoctorAppointments">My Appintments</a></li>
                                <li><a class="nav-link scrollto" asp-controller="DoctorAdmin" asp-action="setSchedule">Set Schedule</a></li>
                                <li><a class="nav-link scrollto" asp-controller="DoctorAdmin" asp-action="editSchedule">Edit Schedule</a></li>
                               
                                if (rt.isFirst == true)
                                {
                                <li><a class="nav-link scrollto" asp-controller="DoctorAdmin" asp-action="DoctorReq">Registeration Requset</a></li>
                                <li><a class="nav-link scrollto" asp-controller="DoctorAdmin" asp-action="DeleteDoctor">Delete Doctors</a></li>
                                <li><a class="nav-link scrollto" asp-controller="DoctorAdmin" asp-action="CreateGuide">Add Guide</a></li>
                                <li><a class="nav-link scrollto" asp-controller="DoctorAdmin" asp-action="DeleteGuide">Delete Guide</a></li>
                                 }
                                 //set schusal //link appointment to guide //view booked appointments
                            <li><a class="nav-link scrollto" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                

                            }

                            bool r1 = (from item in db.patients
                                      where item.EmailAddress == User.Identity.Name
                                      select true).FirstOrDefault();
                            if (r1 == true)
                            {
                                <li><a class="nav-link scrollto active" asp-controller="Patient" asp-action="HomePage">Home</a></li>
                                <li><a class="nav-link scrollto" asp-controller="Patient" asp-action="SetPatient">Set Your Informations</a></li>
                                <li><a class="nav-link scrollto" asp-controller="Patient" asp-action="search">Book An Appointment</a></li>
                                <li><a class="nav-link scrollto" asp-controller="Patient" asp-action="myAppointments">My Appointments</a></li>
                                <li><a class="nav-link scrollto" asp-controller="Account" asp-action="Logout">Logout</a></li>

                                

                            }

                            bool r2 = (from item in db.Guides
                                       where item.EmailAddress == User.Identity.Name
                                       select true).FirstOrDefault();
                            if (r2 == true)
                            {
                                <li><a class="nav-link scrollto active" asp-controller="Guide" asp-action="HomePage">Home</a></li>
                                <li><a class="nav-link scrollto" asp-controller="Guide" asp-action="SetGuide">Set Your Informations</a></li>
                                <li><a class="nav-link scrollto" asp-controller="Guide" asp-action="GuideAppoinments">My Appointments</a></li>
                                <li><a class="nav-link scrollto" asp-controller="Account" asp-action="Logout">Logout</a></li>

                            }
                            bool r3 = (from item in db.systemAdmins
                                       where item.EmailAddress == User.Identity.Name
                                       select true).FirstOrDefault();
                            if (r3 == true)
                            {
                                <li><a class="nav-link scrollto active" asp-controller="SystemAdmin" asp-action="HomePage">Home</a></li>
                                <li><a class="nav-link scrollto" asp-controller="SystemAdmin" asp-action="medicalReq">Medical Centre Requists</a></li>
                                <li><a class="nav-link scrollto" asp-controller="SystemAdmin" asp-action="DeleteMedicalCentre">Delete Medical Centres</a></li>
                                <li><a class="nav-link scrollto" asp-controller="Account" asp-action="Logout">Logout</a></li>
                            }

                        }
                        else
                        {
                            <li><a class="nav-link scrollto" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a class="nav-link scrollto" asp-controller="Account" asp-action="Login">Login</a></li>
                            <li><a class="nav-link scrollto" asp-controller="Account" asp-action="SignUp">SignUp</a></li>
                        }
                     }
                     
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
       

        </div>
    </header><!-- End Header -->
@*    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Graduation Project</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
*@    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@*

    
        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Coderz2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Coderz2</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="AllProducts">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="AllCategories">Categories</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Regester">Regester</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Coderz2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

    *@