<!DOCTYPE HTML>
<html>
<head>
	<title>
	</title>
	<link rel="stylesheet" href="~/css/list.css" />
	<script src="javascript/.js"></script>
</head>
<body>
	<div>Guides List</div>
	<table>
		<tbody>
			<tr>
				<td><img src="https://www.w3schools.com/w3images/team1.jpg" /></td>
				<td>Ahmad Albusumi</td>
				<td><button>Set to patient</button></td>
			</tr>
			<tr>
				<td><img src="https://www.w3schools.com/w3images/team2.jpg" /></td>
				<td>Ahmad Albusumi</td>
				<td><button>Set to patient</button></td>
			</tr>
			<tr>
				<td><img src="https://www.w3schools.com/w3images/team3.jpg" /></td>
				<td>Ahmad Albusumi</td>
				<td><button>Set to patient</button></td>
			</tr>
			<tr>
				<td><img src="https://www.w3schools.com/w3images/team4.jpg" /></td>
				<td>Ahmad Albusumi</td>
				<td><button>Set to patient</button></td>

		</tbody>
	</table>

</body>
</html>
